@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  background-color: var(--page-bground);
  color: var(--page-color);
}

.th-month-name {
    text-align: center;
    font-size: 120%;
}

.container {
  font-family: 'montserrat';
}

.dayheader {
  text-align: center;
}

.weekday {
  text-align: right;
  padding-right: 5px;
  font-variant-caps: all-petite-caps;
}

.day {
  text-align: left;
}

.title-header {
  padding-top: 5px;
  height: 120%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.title-header-img {
  filter: invert(70%) sepia(39%) saturate(257%) hue-rotate(208deg) brightness(86%) contrast(92%);
  float: right;
  margin-right: -5px;
  width: 5%;
}

.title-header-img img {
  float: right;
}

.error-tr {
  border-bottom: 2px solid var(--error);
}

.title-header-text{
  text-align: left;
  margin-bottom: auto;
  font-size: 400%;
  float: left;
}

table {
  margin-left: auto;
  margin-right: auto;
  table-layout: auto;
  width: 90%;
}

.table-header {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 90%;
  position: sticky;
  top: 0;
  background: var(--table-bground);

}

.table-header th {
  height: 50px;
  vertical-align: center;
}

.summary, .today-non-working {
  border-bottom: 4px solid var(--table-total-border);
}

.month-total-row {
  border-bottom: 4px solid var(--table-total-border);
  border-top: 4px solid var(--table-total-border);
}

tr {
  border-bottom: 2px solid var(--table-border);
}

.but-left {
  text-align: left;
  vertical-align: center;
}

.but-right {
  text-align: right;
  vertical-align: center;
}

.but-today {
  text-align: right;
  vertical-align: center;
}

.th {
  font-weight: bold;
}

td, th.th-label {
  padding-right: 7px;
  padding-left: 7px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

input {
  border: none;
  background-color: transparent;
}

input[type="image"]{
  outline:none;
  filter: invert(var(--svg-invert));
}

input[type="time"]::-webkit-clear-button {
  display: none;
}

.total-input, .ti-total{
  background-color: var(--table-cell-total-bground);
  color: var(--table-cell-total-color);
}

.non-working-day{
  background-color: var(--table-cell-offtime-bground);
  color: var(--table-cell-offtime-color);
}

.leave-by-text, .month-total-text, .waived-day-text {
  text-align: right;
  margin-top: auto;
  font-size: 90%;
}

.month-total-text {
  font-weight: bold;
}

.leave-by-time, .month-total-time {
  text-align: left;
}

.footer-pre {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 60px;
  height: 16px;
}

.month-summary {
  width: 100%;
  background-color: var(--table-bground);
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  font-size: 200%;
  text-align: center;
}

.punch-button {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: var(--punch-color);
  background-color: var(--punch-bground);
}

.punch-button:disabled {
  opacity: 0.5;
  color: var(--punch-disable-bground);
}

.table-body {
  overflow-y: auto;
}

th.th-label{
  position: sticky;
  top: 51px;
  background-color: var(--table-header-label-bground);
  box-shadow: 0px 2px 0px 0px var(--table-header-label-shadow);
}

/* There are some libraries that impose their own colors. These may need to be overriden for specific themes */
html[data-theme="dark"] .text-danger{
  color: rgb(226, 93, 90);
}