/* stylelint-disable no-descending-specificity */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* This is an implicit, and an explicit declaration of the Default color scheme */

html,
html[data-theme="light"] {
  --page-bground: white;
  --page-color: black;
  --table-bground: white;
  --input-bground: transparent;
  --table-header-bground: var(--table-bground);
  --table-border: rgb(203, 203, 203);
  --table-total-border: rgb(164, 158, 207);
  --table-cell-offtime-bground: rgb(245, 245, 245);
  --table-cell-offtime-color: rgb(133, 133, 133);
  --table-cell-total-bground: var(--table-cell-offtime-bground);
  --table-cell-total-color: var(--table-cell-offtime-color);
  --table-header-label-bground: var(--table-bground);
  --table-header-label-shadow: var(--table-border);
  --error: red;
  --punch-bground: var(--table-total-border);
  --punch-color: black;
  --punch-disable-bground: rgb(134, 134, 134);
  --slider-background-color: rgb(220, 220, 220);
  --slider-checked-color: var(--table-total-border);
  --slider-unchecked-color: white;
  --weekday-background: var(--slider-background-color);
  --weekday-selected: var(--punch-bground);
  --svg-invert: 0;
  --disabled-input-bground: rgb(175, 175, 175);
  --title-color: rgb(51, 51, 51);
  --input-border: rgb(77, 77, 77);
  --datepicker-icon: -webkit-image-set(url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJXaW5kb3dUZXh0IiBkPSJNMTEuOTkgMkM2LjQ3IDIgMiA2LjQ4IDIgMTJzNC40NyAxMCA5Ljk5IDEwQzE3LjUyIDIyIDIyIDE3LjUyIDIyIDEyUzE3LjUyIDIgMTEuOTkgMnpNMTIgMjBjLTQuNDIgMC04LTMuNTgtOC04czMuNTgtOCA4LTggOCAzLjU4IDggOC0zLjU4IDgtOCA4eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48cGF0aCBkPSJNMTIuNSA3SDExdjZsNS4yNSAzLjE1Ljc1LTEuMjMtNC41LTIuNjd6Ii8+PC9zdmc+) 1x);
  --calendar-icon: -webkit-image-set(url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJXaW5kb3dUZXh0IiBkPSJNMjAgM2gtMVYxaC0ydjJIN1YxSDV2Mkg0Yy0xLjEgMC0yIC45LTIgMnYxNmMwIDEuMS45IDIgMiAyaDE2YzEuMSAwIDItLjkgMi0yVjVjMC0xLjEtLjktMi0yLTJ6bTAgMThINFY4aDE2djEzeiIvPjxwYXRoIGZpbGw9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiLz48L3N2Zz4=) 1x);
  --day-calendar-select-icon: -webkit-image-set(url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiPg0KICAgIDxwb2x5Z29uIHBvaW50cz0iNTAgODUsIDEwMCAwLCAwIDAiIGZpbGw9ImJsYWNrIj48L3BvbHlnb24+DQo8L3N2Zz4=) 1x);
}

html[data-theme="dark"] {
  --page-bground: rgb(39, 39, 39);
  --page-color: white;
  --table-bground: rgb(39, 39, 39);
  --table-header-bground: var(--table-bground);
  --table-border: rgb(90, 90, 90);
  --input-bground: transparent;
  --table-total-border: rgb(95, 92, 121);
  --table-cell-offtime-bground: rgb(71, 71, 71);
  --table-cell-offtime-color: rgb(151, 151, 151);
  --table-cell-total-bground: var(--table-cell-offtime-bground);
  --table-cell-total-color: var(--table-cell-offtime-color);
  --table-header-label-bground: var(--table-bground);
  --table-header-label-shadow: var(--table-border);
  --error: red;
  --punch-bground: rgb(164, 158, 207);
  --punch-color: white;
  --punch-disable-bground: rgb(134, 134, 134);
  --slider-background-color: var(--table-cell-offtime-bground);
  --slider-checked-color: var(--punch-bground);
  --slider-unchecked-color: white;
  --weekday-background: var(--slider-background-color);
  --weekday-selected: var(--punch-bground);
  --svg-invert: 1;
  --disabled-input-bground: rgb(80, 80, 80);
  --title-color: rgb(--page-color);
  --input-border: rgb(77, 77, 77);
  --datepicker-icon: -webkit-image-set(url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJ3aGl0ZSIgZD0iTTExLjk5IDJDNi40NyAyIDIgNi40OCAyIDEyczQuNDcgMTAgOS45OSAxMEMxNy41MiAyMiAyMiAxNy41MiAyMiAxMlMxNy41MiAyIDExLjk5IDJ6TTEyIDIwYy00LjQyIDAtOC0zLjU4LTgtOHMzLjU4LTggOC04IDggMy41OCA4IDgtMy41OCA4LTggOHoiLz48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZmlsbD0id2hpdGUiIGQ9Ik0xMi41IDdIMTF2Nmw1LjI1IDMuMTUuNzUtMS4yMy00LjUtMi42N3oiLz48L3N2Zz4=) 1x);
  --calendar-icon: -webkit-image-set(url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJ3aGl0ZSIgZD0iTTIwIDNoLTFWMWgtMnYySDdWMUg1djJINGMtMS4xIDAtMiAuOS0yIDJ2MTZjMCAxLjEuOSAyIDIgMmgxNmMxLjEgMCAyLS45IDItMlY1YzAtMS4xLS45LTItMi0yem0wIDE4SDRWOGgxNnYxM3oiLz48cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9zdmc+) 1x);
  --day-calendar-select-icon: -webkit-image-set(url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiPg0KICAgIDxwb2x5Z29uIHBvaW50cz0iNTAgODUsIDEwMCAwLCAwIDAiIGZpbGw9IndoaXRlIj48L3BvbHlnb24+DQo8L3N2Zz4=) 1x);
}

html[data-theme="cadent-star"] {
  --page-bground: transparent;
  --page-color: black;
  --table-bground: rgba(255, 238, 227, 0.3);
  --input-bground: transparent;
  --table-header-bground: rgba(255, 238, 227, 0.9);
  --table-border: #28292f;
  --table-total-border: rgb(121, 121, 121);
  --table-cell-offtime-bground: rgba(0, 0, 0, 0.1);
  --table-cell-offtime-color: rgba(0, 0, 0, 0.5);
  --table-cell-total-bground: transparent;
  --table-cell-total-color: var(--table-cell-offtime-color);
  --table-header-label-bground: rgba(255, 238, 227, 0.9);
  --table-header-label-shadow: var(--table-border);
  --error: red;
  --punch-bground: var(--table-total-border);
  --punch-color: rgb(228, 228, 228);
  --punch-disable-bground: rgb(134, 134, 134);
  --slider-background-color: rgb(220, 220, 220);
  --slider-checked-color: var(--table-total-border);
  --slider-unchecked-color: white;
  --weekday-background: var(--slider-background-color);
  --weekday-selected: var(--punch-bground);
  --svg-invert: 0;
  --disabled-input-bground: transparent;
  --title-color: rgb(51, 51, 51);
  --input-border: transparent;
  --datepicker-icon: -webkit-image-set(url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJXaW5kb3dUZXh0IiBkPSJNMTEuOTkgMkM2LjQ3IDIgMiA2LjQ4IDIgMTJzNC40NyAxMCA5Ljk5IDEwQzE3LjUyIDIyIDIyIDE3LjUyIDIyIDEyUzE3LjUyIDIgMTEuOTkgMnpNMTIgMjBjLTQuNDIgMC04LTMuNTgtOC04czMuNTgtOCA4LTggOCAzLjU4IDggOC0zLjU4IDgtOCA4eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48cGF0aCBkPSJNMTIuNSA3SDExdjZsNS4yNSAzLjE1Ljc1LTEuMjMtNC41LTIuNjd6Ii8+PC9zdmc+) 1x);
  --calendar-icon: -webkit-image-set(url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJXaW5kb3dUZXh0IiBkPSJNMjAgM2gtMVYxaC0ydjJIN1YxSDV2Mkg0Yy0xLjEgMC0yIC45LTIgMnYxNmMwIDEuMS45IDIgMiAyaDE2YzEuMSAwIDItLjkgMi0yVjVjMC0xLjEtLjktMi0yLTJ6bTAgMThINFY4aDE2djEzeiIvPjxwYXRoIGZpbGw9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiLz48L3N2Zz4=) 1x);
  --day-calendar-select-icon: -webkit-image-set(url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiPg0KICAgIDxwb2x5Z29uIHBvaW50cz0iNTAgODUsIDEwMCAwLCAwIDAiIGZpbGw9ImJsYWNrIj48L3BvbHlnb24+DQo8L3N2Zz4=) 1x);
}

/* There are some libraries that impose their own colors. These may need to be overriden for specific themes */

html[data-theme="dark"] .text-danger {
  color: rgb(226, 93, 90);
}

html[data-theme="cadent-star"] .text-danger {
  color: rgb(226, 93, 90);
}

html[data-theme="cadent-star"] body {
  background-image: linear-gradient(to right, #ff9aa2, #ffb7b2, #ffdac1, #e2f0cb, #b5ead7, #c7ceea);
}

body {
  background-color: var(--page-bground);
  color: var(--page-color);
}

.container {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 70px;
}

.dayheader {
  text-align: center;
}

.th-month-name {
  text-align: center;
  font-size: 120%;
}

.weekday {
  text-align: right;
  padding-right: 5px;
  font-variant-caps: all-petite-caps;
}

.day {
  text-align: left;
}

.title-header {
  padding-top: 5px;
  height: 120%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.title-header-img {
  filter: invert(70%) sepia(39%) saturate(257%) hue-rotate(208deg) brightness(86%) contrast(92%);
  float: right;
  margin-right: -5px;
  width: 5%;
}

.title-header-img img {
  float: right;
}

.error-tr {
  border-bottom: 2px solid var(--error);
}

.title-header-text {
  text-align: left;
  margin-bottom: auto;
  font-size: 400%;
  float: left;
}

#calendar table {
  margin-left: auto;
  margin-right: auto;
  table-layout: auto;
  width: 90%;
}

#calendar .table-header {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 90%;
  position: sticky;
  top: 0;
  background: var(--table-header-bground);
}

#calendar .table-header th {
  height: 50px;
  vertical-align: center;
}

#calendar .table-body {
  overflow-y: auto;
  background-color: var(--table-bground);
}

#calendar tr {
  border-bottom: 2px solid var(--table-border);
}

#calendar .th {
  font-weight: bold;
}

#calendar td,
#calendar th.th-label {
  padding-right: 7px;
  padding-left: 7px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#calendar th.th-label {
  position: sticky;
  top: 51px;
  background-color: var(--table-header-label-bground);
  box-shadow: 0px 2px 0px 0px var(--table-header-label-shadow);
}

.summary,
.today-non-working {
  border-bottom: 4px solid var(--table-total-border);
}

.month-total-row {
  border-bottom: 4px solid var(--table-total-border);
  border-top: 4px solid var(--table-total-border);
}

.but-left {
  text-align: left;
  vertical-align: center;
}

.but-right {
  text-align: right;
  vertical-align: center;
}

.but-today {
  text-align: right;
  vertical-align: center;
}

.but-switch-view input {
  width: 85%;
}

#calendar input {
  color: var(--page-color);
  border: none;
  background-color: var(--input-bground);
}

#calendar input[type="image"] {
  outline: none;
  filter: invert(var(--svg-invert));
}

#calendar input[type="time"]::-webkit-clear-button {
  display: none;
}

#calendar input[type="time" i]::-webkit-calendar-picker-indicator {
  width: 0px;
}

#input-calendar-date::-webkit-datetime-edit {
  display: none;
}

#input-calendar-date::-webkit-clear-button {
  display: none;
}

#input-calendar-date::-webkit-inner-spin-button {
  display: none;
}

#input-calendar-date::-webkit-calendar-picker-indicator {
  padding-bottom: 0px;
  color: var(--page-color);
  opacity: 1;
  cursor: pointer;
}

#input-calendar-date::-webkit-calendar-picker-indicator:hover {
  background-color: var(--table-bground);
}

.total-input, .ti-total {
  background-color: var(--table-cell-total-bground) !important;
  color: var(--table-cell-total-color) !important;
}

.non-working-day {
  background-color: var(--table-cell-offtime-bground);
  color: var(--table-cell-offtime-color);
}

.leave-by-text,
.month-total-text,
.waived-day-text {
  text-align: right !important;
  margin-top: auto;
  font-size: 90%;
  font-variant-caps: all-petite-caps;
}

.month-total-text {
  font-weight: bold;
}

.leave-by-time,
.month-total-time {
  text-align: left;
}

.footer-pre {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 60px;
  height: 16px;
}

.month-summary {
  width: 100%;
  background-color: var(--table-bground);
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  font-size: 200%;
  text-align: center;
}

.punch-button {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: var(--punch-color);
  background-color: var(--punch-bground);
}

.punch-button:disabled {
  opacity: 0.5;
  color: var(--punch-disable-bground);
}

.waiver-img {
  display: none;
}

.waiver-trigger:hover {
  cursor: pointer;
}

.waiver-trigger:hover + .day > .day-number {
  display: none;
}

.waiver-trigger:hover + .day > .waiver-img {
  display: block;
}

.hidden {
  display: none !important;
}

.half-width {
  width: 50%;
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--slider-background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: var(--slider-unchecked-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--slider-checked-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--slider-checked-color);
}

input:checked + .slider::before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 30px;
}

.slider.round::before {
  border-radius: 50%;
}

/* Notification settings */

#notifications-interval:disabled,
input:disabled + .slider {
  background-color: var(--disabled-input-bground);
}

/** Common window styles **/

.common-window {
  font-family: 'Montserrat', sans-serif;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 90%;
}

.common-window .header-title {
  font-size: 25px;
  border-bottom: 4px solid var(--table-total-border);
}

.common-window p.header-help {
  font-variant-caps: all-petite-caps;
  font-size: 15px;
  margin-bottom: 0px;
}

.common-window .section-title {
  font-size: 20px;
  color: var(--title-color);
  margin-bottom: 5px;
  margin-top: 15px;
  border-bottom: 1px solid var(--table-total-border);
}

.common-window input, .common-window select, .common-window option {
  color: var(--page-color);
  background-color: var(--page-bground);
}

.common-window input[type="time" i]::-webkit-calendar-picker-indicator {
  background-image: var(--datepicker-icon);
}

.common-window input[type="date" i]::-webkit-calendar-picker-indicator {
  background-image: var(--calendar-icon);
}

/* Preferences page styles */

#preferences-window select,
#preferences-window option,
#preferences-window input {
  font-variant-caps: all-petite-caps;
  border: solid 1px var(--input-border);
  height: inherit;
}

#preferences-window .weekdays-selector input {
  display: none;
}

#preferences-window .weekdays-selector input[type=checkbox] + label {
  font-variant-caps: all-petite-caps;
  display: inline-block;
  border-radius: 10px;
  background: var(--weekday-background);
  height: 40px;
  width: 45px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

#preferences-window .weekdays-selector input[type=checkbox]:checked + label {
  background: var(--weekday-selected);
  color: #fff;
}

#preferences-window input[type=text]:invalid {
  color: rgb(255, 71, 71);
}

#preferences-window .flex-box {
  display: flex;
  height: 25px;
  justify-content: space-between;
}

#preferences-window p {
  font-variant-caps: all-petite-caps;
  text-align: center;
}

/* Waiver page styles */

#workday-waiver-window .section-title {
  margin-bottom: 15px;
  margin-top: 30px;
}

#workday-waiver-window input {
  border: none;
}

#workday-waiver-window .container {
  padding-left: 0;
  padding-right: 0;
}

#workday-waiver-window table {
  font-size: 12px;
}

#workday-waiver-window thead {
  font-weight: bold;
}

#workday-waiver-window th, #workday-waiver-window td {
  padding-right: 5px;
  padding-left: 5px;
}

#workday-waiver-window .waive-button {
  opacity: 0.9;
  width: 100%;
  height: 24px;
  outline: none;
  border: none;
  color: var(--punch-color);
  background-color: var(--punch-bground);
}

#workday-waiver-window .waive-button:disabled {
  opacity: 0.5;
  color: var(--punch-disable-bground);
}

#workday-waiver-window #waiver-list-table {
  width: 100%;
}

/** Day view related styles **/

html[data-view='day'] .container {
  margin-bottom: 0px;
}

html[data-view='day'] .title-header {
  width: 100%;
  margin-bottom: 80px;
}

html[data-view='day'] .title-header-text {
  font-size: 300%;
}

html[data-view='day'] .table-header {
  width: 100%;
}

html[data-view='day'] #calendar input[type="date" i]::-webkit-calendar-picker-indicator {
  background-image: var(--day-calendar-select-icon);
  height: 10px;
  margin-left: 4px;
  width: 10px;
}

html[data-view='day'] #calendar-table-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

html[data-view='day'] #calendar-table-body > div {
  width: 100%;
  display: flex;
  flex: auto;
  flex-direction: row;
}

html[data-view='day'] .table-header tr {
  border-bottom: 2px solid var(--punch-bground);
}

html[data-view='day'] .th-label {
  text-align: right;
  padding-right: 20px;
  width: 50%;
}

html[data-view='day'] .th-label.th-label-total {
  width: 33%;
}

html[data-view='day'] .but-switch-view {
  width: 6.5%;
}

html[data-view='day'] .ti {
  text-align: left;
  padding-left: 20px;
  width: 50%;
}

html[data-view='day'] .ti-total {
  width: 13%;
  overflow: hidden;
}

html[data-view='day'] .ti-total input {
  margin-left: -14px;
}

html[data-view='day'] .table-body {
  margin-top: 10px;
}

html[data-view='day'] .row-time {
  border-bottom: 1px solid var(--table-border);
  width: 90% !important;
  margin: auto;
  padding: 2px 0 2px 0;
}

html[data-view='day'] .row-total {
  border-bottom: 4px solid var(--table-total-border);
  padding: 10px 0 10px 0;
}

html[data-view='day'] .row-waiver {
  margin: auto;
  padding: 2px 0 12px 0;
  border-bottom: 4px solid var(--table-total-border);
}

html[data-view='day'] .row-waiver .waived-day-text {
  margin: auto 20px auto auto;
}

html[data-view='day'] .row-waiver .ti-total {
  margin-right: auto;
}

html[data-view='day'] .non-working-day {
  background: none;
  margin: auto auto 10px auto;
}

html[data-view='day'] .summary {
  padding: 5px 0 5px 0;
}

html[data-view='day'] .summary .leave-by-text {
  margin: 0 20px auto auto;
}

html[data-view='day'] .summary .leave-by-time {
  margin-right: auto;
}

html[data-view='day'] .month-total-row {
  border-top: none;
  border-bottom: none;
  padding-top: 5px;
}

html[data-view='day'] .month-total-row .month-total-text {
  padding-right: 10px;
  text-align: right;
}

html[data-view='day'] .month-total-row .month-total-element {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: fit-content;
}

html[data-view='day'] .month-total-row .month-total-time {
  text-align: left;
}

html[data-view='day'] .footer {
  height: 32px;
  font-size: 100%;
}

html[data-view='day'] .footer .punch-button {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

html[data-view='day'] .punch-button img {
  display: none;
}
