button{
    padding: 7px 50px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    border-radius: 4px;
    border: 0px;
    font-weight: 500;
    cursor: pointer;
}

.button--primary{
    background-color: $blue;
    color: #fff;
}

.button--dropdown{
    background: transparent;
    border: 2px solid $blue;
    position: relative;
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: $blue transparent transparent transparent;
        right: 20px;
        top: calc(50% - 2px);
    }
}