.cta {
    position: relative;
    &:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: $lightblue;
        opacity: 0.3;
        display: block;
        content: '';
        z-index: -1;
    }
}

.cta__desc{
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    margin-bottom: 50px;
    line-height: 1.5;
    max-width: 40%;
    margin: 0 auto 50px;
    text-align: center;

    @include for-phone-only {
        max-width: 90%;
        text-align: justify;
    }
}

.cta__free{
    max-width: 40%;
    margin: 0 auto;
    text-align: center;

    @include for-phone-only {
        max-width: 70%;
    }
}

.cta__free__desc, .cta__free__money{
    color: $middleblue;
}


.cta__free__money{
    @include fluid-type($min_width, $max_width, $min-title, $max-title);
    font-weight: 500;
    margin-bottom: 10px;
}

.cta__free__desc{
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.cta__free__punchline{
    color: #5D6970;
    @include fluid-type($min_width, $max_width, $min_sfont, $max_sfont);
    margin: 50px 0 20px;
}

.button--primary {
    @include for-phone-only {
        height: 4em;
        width: 20em;
    }
}
