.intro{
    background: url('./images/herobg.svg') no-repeat center right;
    background-size: contain;
}


.intro__illustration{
    text-align: right;
    img{
        max-height: 100vh;
        width: auto;
    }
}


.intro__title{
    @include fluid-type($min_width, $max_width, $min_title, $max_title);
    margin-bottom: 30px;
    text-align: center;
    img{
        width: 50px;
        vertical-align: middle;
        transform: translateY(-5px);
    }
}