.marketing, .intro__illustration, .customization__illustration, .notification__illustration, .daysoff__illustration{
    width: 50%;
    display: inline-block;
    vertical-align: middle;

    @include for-phone-only {
        width: 100%;
    }
}



.customization, .notification, .daysoff, .cta, .intro, footer{
    font-size: 0;
    position: relative;
    padding-top: $padding-section;
    padding-bottom: $padding-section;
}
