.marketing, .intro__illustration, .customization__illustration, .notification__illustration, .daysoff__illustration{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}



.customization, .notification, .daysoff, .cta, .intro{
    font-size: 0;
    position: relative;
    padding-top: $padding-section;
    padding-bottom: $padding-section;
}