.marketing__container {
    width: 70%;
    margin: auto;

    @include for-phone-only {
        width: 90%;
    }
}

.marketing__desc {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    margin-bottom: 50px;
    line-height: 1.5;

    @include for-phone-only {
        text-align: justify;
    }
}

.intro__buttons {
    text-align: center;

    .dropdown,
    .button--primary {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .button--primary {
        width: 13rem;
        height: 2.5rem;
    }

    @include for-phone-only {
        display: flex;
        vertical-align: center;
        flex-direction: column;
        align-items: center;
    }
}

.marketing__title {
    @include fluid-type($min_width, $max_width, $min_subtitle, $max_subtitle);
    margin-bottom: 30px;
}

.marketing__features {
    font-size: 0;
}

.marketing__feature {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    &:first-of-type {
        padding-right: 20px;
    }
    &:last-of-type {
        padding-left: 20px;
    }
}

.marketing__feature__title {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    font-weight: 500;
    margin: 20px 0;
}

.marketing__feature__desc {
    @include fluid-type($min_width, $max_width, $min_sfont, $max_sfont);
    line-height: 1.5;
}
