.marketing__container{
    width: 70%;
    margin: auto;
}

.marketing__desc{
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    margin-bottom: 50px;
    line-height: 1.5;
}

.intro__buttons{
    text-align: center;

    button{
        &:first-of-type{
            margin-right: 10px;
        }
        &:last-of-type{
            margin-left: 10px;
        }
    }
}

.marketing__title{
    @include fluid-type($min_width, $max_width, $min_subtitle, $max_subtitle);
    margin-bottom: 30px;
}

.marketing__features{
    font-size: 0;
}

.marketing__feature{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    &:first-of-type{
        padding-right: 20px;
    }
    &:last-of-type{
        padding-left: 20px;
    }
}

.marketing__feature__title{
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    font-weight: 500;   
    margin: 20px 0;

}

.marketing__feature__desc{
    @include fluid-type($min_width, $max_width, $min_sfont, $max_sfont);
    line-height: 1.5;
}