//FONT FAMILY

$roboto: 'Roboto', sans-serif;
$open: 'Open Sans', sans-serif;


//FONT SIZE
$min_width: 320px;
$max_width: 1200px;
$min_font: 12px;
$max_font: 16px;

$min_sfont: 10px;
$max_sfont: 14px;

$min-title: 18px;
$max-title: 48px;

$min-subtitle: 16px;
$max-subtitle: 32px;



//COLORS

$blue: #111B47;
$middleblue: #222F65;
$pink: #FADDFF;
$lightblue: #9A93C6;


$padding-section: 75px;
