@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* Utilize the 'after' so as to not overwrite the prior theme colors */

html, html[data-theme="light"] {
  --title-color: rgb(51, 51, 51);
  --input-border: rgb(77, 77, 77);
}

html, html[data-theme="dark"] {
  --title-color: rgb(--page-color);
  --input-border: rgb(77, 77, 77);
}

body {
  background-color: var(--page-bground);
  color: var(--page-color);
}

.preferences {
  font-family: 'Montserrat', sans-serif;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  height: 90%;
}

.preferences-page {
  font-size: 25px;
  height: 35px;
  border-bottom: 4px solid var(--table-total-border);
}

.preference-title {
  font-size: 20px;
  color: var(--title-color);
  margin-bottom: 5px;
  margin-top: 15px;
  border-bottom: 1px solid var(--table-total-border);
}

select, option, input {
  font-variant-caps: all-petite-caps;
  color: var(--page-color);
  background-color: var(--page-bground);
  border: solid 1px var(--input-border);
  height: inherit;
}

.weekDays-selector input {
  display: none;
}

.weekDays-selector input[type=checkbox] + label {
  font-variant-caps: all-petite-caps;
  display: inline-block;
  border-radius: 10px;
  background: var(--weekday-background);
  height: 40px;
  width: 45px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: var(--weekday-selected);
  color: #fff;
}

.flex-box {
  display: flex;
  height: 25px;
  justify-content: space-between;
}

p {
  font-variant-caps: all-petite-caps;
  text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--slider-background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: var(--slider-unchecked-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--slider-checked-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--slider-checked-color);
}

input:checked + .slider::before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round::before {
  border-radius: 50%;
}

/* Notification settings */
#notifications-interval:disabled, input:disabled + .slider {
  background-color: var(--disabled-input-bground);
}
