@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.preferences-page {
    font-size: 25px;
    height: 60px;
    border-bottom: 4px solid rgb(164, 158, 207);
}

.header-help {
    font-variant-caps: all-petite-caps;
    font-size: 15px;
}

input {
    border: none;
  }

.preferences {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    height: 90%;
}

.notification-setting {
    margin-bottom: 20px;
    display: flex;
    line-height: 30px;
}

.notification-option {
    margin-bottom: 20px;
    display: flex;
    line-height: 30px;
}

.preference-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
  margin-top: 30px;
  border-bottom: 1px solid rgb(164, 158, 207);
}

.working-days {
  font-family: 'montserrat';
  text-align: center;
}

td {
  padding-right: 5px;
  padding-left: 5px;
  font-variant-caps: all-petite-caps;
}

#non-working-label {
  display: block;
  font-weight: normal;
  text-align: left;
  margin: 40px 0px 0px 8px;
}

#non-working-label input {
   margin-right: 8px;
}