@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* Utilize the 'after' so as to not overwrite the prior theme colors */

html, html[data-theme="light"]{
  --title-color: rgb(51, 51, 51);
  --input-border: rgb(77, 77, 77);
}

html, html[data-theme="dark"]{
  --title-color: rgb(--page-color);
  --input-border: rgb(77, 77, 77);
}

body {
  background-color: var(--page-bground);
  color: var(--page-color);
}

.preferences-page {
    font-size: 25px;
    height: 60px;
    border-bottom: 4px solid var(--table-total-border);
}

.header-help {
    font-variant-caps: all-petite-caps;
    font-size: 15px;
}

input {
    border: none;
  }

.preferences {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    height: 90%;
}

.notification-setting, .theme-setting {
    margin-bottom: 20px;
    display: flex;
    line-height: 30px;
}

.notification-option, .theme-option {
    margin-bottom: 20px;
    display: flex;
    line-height: 30px;
}

.preference-title {
  font-size: 20px;
  color: var(--title-color);
  margin-bottom: 15px;
  margin-top: 30px;
  border-bottom: 1px solid var(--table-total-border);
}

.working-days {
  font-family: 'montserrat';
  text-align: center;
}

td {
  padding-right: 5px;
  padding-left: 5px;
  font-variant-caps: all-petite-caps;
}

#non-working-label {
  display: block;
  font-weight: normal;
  text-align: left;
  margin: 40px 0px 0px 8px;
}

#non-working-label input {
   margin-right: 8px;
}

select, option, input {
  background-color: var(--page-bground);
}

select, input {
  border: solid 1px var(--input-border);
}