@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* Utilize the 'after' so as to not overwrite the prior theme colors */

html,
html[data-theme="light"] {
    --title-color: rgb(51, 51, 51);
    --input-border: rgb(77, 77, 77);
}

html,
html[data-theme="dark"] {
    --title-color: rgb(--page-color);
    --input-border: rgb(77, 77, 77);
}

body {
    background-color: var(--page-bground);
    color: var(--page-color);
}

select,
option,
input {
    background-color: var(--page-bground);
}

select,
input {
    border: solid 1px var(--input-border);
}

.container-page {
    font-size: 25px;
    height: 60px;
    border-bottom: 4px solid var(--table-total-border);
}

.header-help {
    font-variant-caps: all-petite-caps;
    font-size: 15px;
}

input {
    border: none;
}

.container {
    font-family: 'montserrat';
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    height: 90%;
}

.data {
    font-size: 12px;
}

.table-header {
    font-weight: bold;
}

.container-title {
    font-size: 20px;
    color: var(--title-color);
    margin-bottom: 15px;
    margin-top: 30px;
    border-bottom: 1px solid var(--table-total-border);
}

td {
    padding-right: 5px;
    padding-left: 5px;
}

.waive-button {
    opacity: 0.9;
    width: 100%;
    height: 24px;
    outline: none;
    border: none;
    color: var(--punch-color);
    background-color: var(--punch-bground);
}

.waive-button:disabled {
    opacity: 0.5;
    color: var(-punch-disable-bground);
}

.waiver-list-table {
    width: 100%;
}
