@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
.container-page {
    font-size: 25px;
    height: 60px;
    border-bottom: 4px solid rgb(164, 158, 207);
}

.header-help {
    font-variant-caps: all-petite-caps;
    font-size: 15px;
}

input {
    border: none;
}

.container {
    font-family: 'montserrat';
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    height: 90%;
}

.data {
    font-size: 12px;
}

.table-header {
    font-weight: bold;
}

.container-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    margin-top: 30px;
    border-bottom: 1px solid rgb(164, 158, 207);
}

td {
    padding-right: 5px;
    padding-left: 5px;
}

.waive-button {
    opacity: 0.9;
    width: 100%;
    height: 24px;
    outline: none;
    border: none;
    color: black;
    background-color: rgb(164, 158, 207);
}

.waive-button:disabled {
    opacity: 0.5;
    color: rgb(134, 134, 134);
}

.waiver-list-table {
    width: 100%;
}