name: Node CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]
        runs-on: [ubuntu-latest, windows-latest, macOS-latest]
        
    runs-on: ${{ matrix.runs-on }}        
    
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, lint, build, and test
      run: |
        npm ci
        npm run lint --if-present
        npm run build --if-present
        npm test
      env:
        CI: true
